<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='uikit-2.25.0/css/uikit.min.css')}}">
<title>kylevickers.io | Welcome</title>
</head>


<body>
  <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
    <h1>Kyle Vickers</h1>
    <!-- Not sure if i want to include a picture or not -->
    <!-- <img src="{{ url_for('static', filename='img/kyle_painting.jpg') }}" alt="Painting away"> -->
    <h2>software developer</h2>
    <p>This is my personal website.</p>

    <a href="#"><i class="uk-icon-github"></i></a>
    <a href="#"><i class="uk-icon-linkedin"></i></a>
    <a href="#"><i class="uk-icon-google"></i></a>
    <a href="#"><i class="uk-icon-spotify"></i></a>
    <a href="#"><i class="uk-icon-steam"></i></a>

  </div>
</body>

</html>
