<!doctype html>
<html lang="en">

<head>
<meta charset="utf-8">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='uikit-2.25.0/css/uikit.min.css')}}">
<title>kylevickers.io | Welcome</title>
</head>


<body>
  <div class="uk-container uk-container-center uk-margin-top uk-margin-bottom">
    <div class="uk-container uk-container-center uk-width-1-2 uk-margin-top">
      <h1 class="uk-text-center">Kyle Vickers</h1>
      <h2 class="uk-text-center uk-text-muted">software developer</h2>
    </div> 
    <!-- Not sure if i want to include a picture or not -->
    <!-- <img src="{{ url_for('static', filename='img/kyle_painting.jpg') }}" alt="Painting away"> -->
    
    <div class="uk-container uk-container-center uk-width-1-2 uk-margin-top uk-text-center">
      <a href="#"><i class="uk-icon-github uk-icon-large"></i></a>
      <a href="#"><i class="uk-icon-linkedin uk-icon-large"></i></a>
      <a href="#"><i class="uk-icon-google uk-icon-large"></i></a>
      <a href="#"><i class="uk-icon-spotify uk-icon-large"></i></a>
      <a href="#"><i class="uk-icon-steam uk-icon-large"></i></a>
    </div>

  </div>
</body>
</html>
